<h1>Login</h1>

<form action="/login" method="POST">
    <div>
        <label for="Email">Email</label>
        <input id="Email" type="text" required for="Email"></input>
    </div>
    <div>
        <label for="password">password</label>
        <input id="password" type="text" required for="password"></input>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<a href="/register">Register</a>